<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.model.mapper.NoticeMapper">

    <select id="selectMessageList" resultType="Notice">
        select *
        from notice
        where userId = #{userId} and reader = #{reader}
    </select>

    <insert id="sendMessage" parameterType="Notice" keyProperty="id">
        insert into notice(reader,message,userId,sendTime)
        values(#{reader},#{message},#{userId},#{sendTime})
    </insert>

    <update id="readerMessage">
        update notice set reader=#{reader} where id=#{id}
    </update>

    <select id="countReader" resultType="int">
        select count(*)
        from notice
        where userId=#{userId} and reader=#{reader}
    </select>

    <select id="selectNoticeById" resultType="Notice">
        select *
        from notice
        where id=#{id}
    </select>

</mapper>